82% of storage used … If you run out, you won't have enough storage to create, edit and upload files. Get 100 GB of storage for ₹130.00 ₹35.00/month for 3 months.
body {
    text-align: center;
    
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#intro{
    background-color: rgb(182, 220, 238);
}

#origami1{

}

#origami2{

}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}